

<div class = "container-fluid" >
    <h3>About Us</h3>
    <div class = "form-group row">
        <div class = "col-sm-12">

        <p font1>"Captivating food-lovers with delicious Hyderabadi Biryani for some time now;a fine-dining restaurant for its esteemed patrons. Located in Addison on Belt Line Road, the restaurant will soon be a place to reckon with its vibrant and exquisite
            ambience and rich aromatic food to indulge in. The fine decor and enigmatic lightening will set the mood for any occasion."</p>
      <!--  <a href="Orders.html">
            <input type="submit" value="Reserve your seat here" />
        </a>-->
<h3>Specials</h3>
        <article class = "form-group row">
            <div class = "col-sm-12">
            <p>Specialized at Hyd-dum biryani.Open everyday till midnight.</p>
            </div>
        </article>
    </div>
</div>
</div>
</div>