<div class="container-fluid">
    <h3> Login Here </h3>

    <div name="myForm" ng-submit="submitForm()" novalidate>

        <div class="form-group row css-form ">

            <header><label class=" col-sm-2">Select the Date and Time : </label></header>
            <div class="col-sm-4">
                <input name="date" ng-model=" date" type="datetime-local" class="form-control" required="required"/>
                <span ng-show = "myForm.date.$touched && myForm.date.$invalid"> Date is required!</span>
            </div>
        </div>

        <div class="row form-group">
            <header><label class=" col-sm-2"> Select the range of people:</label></header>
            <div class="col-sm-4">
                <input type="number" min="1" max="20" class="form-control"/>
            </div>
        </div>
        <div class = "row form-group">
        <header><label class=" col-sm-2"> Enter the telephone number:</label></header>

            <div class="col-sm-4">
                <input id="tel" type="number" placeholder="xxx_xxx_xxxx" class="form-control"/></div>
        </div>
    </div>
        <div class="row form-group">
            <div class="col-sm-offset-2 col-sm-1">
                <a href="#Reservpage.html">
                    <button type="submit" class="btn btn-primary">Find a Table</button>
                </a>
            </div>
        </div>


    </form>
</div>


<aside class="clearfix container-fluid">
    <h3> Owner Login </h3>


    <form action="submit" method="get" accept-charset="utf-8" name = "myForm1">
        <div class="form-group row">
            <header><label for="usermail" class=" col-sm-2 control-label">Email</label></header>
            <div class="col-sm-4">
                <input type="email" name="usermail" placeholder="Email" class="form-control" size="30" required/>
            </div>
        </div>

        <div class="row form-group">
            <header><label for="password" class="col-sm-2 control-label">Password</label></header>
            <div class="col-sm-4">
                <input type="password" name="password" placeholder="password" class="form-control" required/></div>
        </div>
        <div class="row">
            <div class="col-sm-offset-2 col-sm-1">
                <div class="checkbox">
                    <label> <input type="checkbox"> Remember me </label>
                </div>
            </div>
        </div>
            <div class="row">
                <div class="col-sm-offset-2 col-sm-10">
                    <a href="#Reservpage.html">
                        <button type="submit" class="btn btn-primary"/>
                        Sign in</button></a>
                </div>


            </div>
            <p class="help-block ">Note: Owners can login to Edit/Cancel a reservation. </p>

    </form>

</aside>

